{# SPDX-FileCopyrightText: © 2014-2015, 2021 Siemens AG
   SPDX-FileCopyrightText: © 2020 Robert Bosch GmbH
   SPDX-FileCopyrightText: © Dineshkumar Devarajan <Devarajan.Dineshkumar@in.bosch.com>

   SPDX-License-Identifier: FSFAP
#}
<div class="container">
  {% if protocol != 'HTTPS' %}
    {{ 'This login uses '|trans }}{{ protocol }}{{', so passwords are transmitted in plain text.'|trans }}
    {{ 'This is not a secure connection.'|trans }}<br/><br/>
  {% endif %}
  {{ info }}
  <form method="post" name="loginFormMain" action="{{ authUrl }}">
    <input type="hidden" name="HTTP_REFERER" value="{{ referrer }}"/>
    <input type="hidden" name="timezone" id="timezone" value="" />
    {% if getOauth %}
      <input type="hidden" name="oauth" value="{{ getOauth }}">
      <script type="text/javascript">document.forms.loginFormMain.submit();</script>
    {% endif %}
    {% if loginProvider == 'password' %}
      <div class="mb-3">
        <label class="form-label">{{ 'Username'|trans }}:</label>
        <div>
          <input id="unamein" type="text" class="form-control" name="username" placeholder="Enter username" autofocus="autofocus" value="{{ userName|e }}">
        </div>
      </div>
      <title>Toggle Password Visibility</title>
      <div class="mb-3">
        <label class="form-label" for="pwd">{{ 'Password'|trans }}:</label>
        <div class="input-group">
            <input type="password" id="pwd" class="form-control" style="width:70%;" placeholder="Enter password" name="password"/>
            <span class="input-group-text">
              <img src="images/eyes.png" id="togglePassword" />
            </span>
          </div>
      </div>
    {% endif %}
    <div class="mb-3">
        {% if loginProvider == 'password' %}
          <button type="submit" class="btn btn-light">{{ 'Login'|trans }}</button>
        {% endif %}
        {% if providerExist %}
          <button type="submit" name="providerCheck" value="{{ providerExist }}" class="btn btn-light">{{ 'Login with '|trans }}{{ providerExist }}</button>
        {% endif %}
    </div>
    <script type="text/javascript">document.getElementById("unamein").focus();</script>
    <script type="text/javascript">document.getElementById("timezone").value = Intl.DateTimeFormat().resolvedOptions().timeZone ;</script>
  </form>
</div>
