{# Copyright 2019
   Author: Vivek Kumar<vvksindia@gmail.com>
   
   Copying and distribution of this file, with or without modification,
   are permitted in any medium without royalty provided the copyright notice and this notice are preserved.
   This file is offered as-is, without any warranty.
#}

<table id="detailsTable">
    <tr>
        <th>Declared</th>
        <th>Source</th>
        <th>Release</th>
        <th>Files</th>
        <th>Attribution</th>
        <th>Discovered</th>
        <th>MENU</th>
    </tr>
    {% for result in details %}
    <tr id="detailsRow{{ loop.index0 }}" style="border: 1px solid black; border-collapse: collapse; display: none;">
        <td style="border-right: 1px solid black;">
            <span style="display: inline-block; width: 100px;">
                {{ result.declared }}
            </span>
        </td>
        <td style="border-right: 1px solid black;">
            <span style="display: inline-block; width: 180px; word-wrap: break-word;">
                {{ result.source }}
            </span>
        </td>
        <td style="border-right: 1px solid black;">
            <span style="display: inline-block; width: 100px; word-wrap: break-word;">
                {{ result.release }}
            </span>
        </td>
        <td style="border-right: 1px solid black;">
            <span style="display: inline-block; width: 70px;">
                {{ result.files }}
            </span>
        </td>
        <td style="border-right: 1px solid black;">
            <span style="display: inline-block; width: 180px; word-wrap: break-word;">
                {{ result.attribution[0] }}, {{ result.attribution[1] }}, {{ result.attribution[2] }}, {{ result.attribution[3] }} ...
            </span>
        </td>
        <td style="border-right: 1px solid black;">
            <span style="display: inline-block; width: 180px; word-wrap: break-word;">
                {{ result.discovered[0] }}, {{ result.discovered[1] }}, {{ result.discovered[2] }}, {{ result.discovered[3] }} ...
            </span>
        </td>
        <td>
            <a href="#" onclick='StoreIntoDb({{ loop.index0 }})'>OPEN</a>
        </td>
    </tr>
    {% endfor %}
</table>

<input id="displayElementIndex" type="hidden" value="-1" />
