{# SPDX-FileCopyrightText: © 2019 Vivek Kumar <vvksindia@gmail.com>
   Author: Vivek Kumar <vvksindia@gmail.com>

   SPDX-License-Identifier: FSFAP
#}

<table class="simpleTable wrapTable">
  <tr>
    <th>Namespace</th>
    <th>Name</th>
    <th>Revision</th>
    <th>Type</th>
    <th>Provider</th>
    <th></th>
  </tr>
  <tr id="definitionsRow">
    <td>{{ body.namespace }}</td>
    <td>{{ body.name }}</td>
    <td>{{ body.revision }}</td>
    <td>{{ body.type }}</td>
    <td>{{ body.provider }}</td>
    <td>{{ body_menu }}</td>
  </tr>
</table>
