{# Copyright 2019
   Author: Vivek Kumar<vvksindia@gmail.com>

   Copying and distribution of this file, with or without modification,
   are permitted in any medium without royalty provided the copyright notice and this notice are preserved.
   This file is offered as-is, without any warranty.
#}

<table id="detailsTable" class="simpleTable detailsTable left-align-cells">
  <tbody>
    {% for result in details %}
    <tr class="detailsRow detailsId{{ loop.index0 }}">
      <th>
        Declared
      </th>
      <td>
        <span>{{ result.declared }}</span>
      </td>
    </tr>
    <tr class="detailsRow detailsId{{ loop.index0 }}">
      <th>
        Source
      </th>
      <td>
        <span>
          <a href="{{ result.source }}" target="_blank"
            rel="noopener noreferrer">{{ result.source }}</a>
        </span>
      </td>
    </tr>
    <tr class="detailsRow detailsId{{ loop.index0 }}">
      <th>
        Release
      </th>
      <td>
        <span>{{ result.release }}</span>
      </td>
    </tr>
    <tr class="detailsRow detailsId{{ loop.index0 }}">
      <th>
        Files
      </th>
      <td>
        <span>{{ result.files }}</span>
      </td>
    </tr>
    <tr class="detailsRow detailsId{{ loop.index0 }}">
      <th>
        Attributions
      </th>
      <td>
        <span>{{ result.attribution }}{% if result.attribution is not empty %}...{% endif %}</span>
      </td>
    </tr>
    <tr class="detailsRow detailsId{{ loop.index0 }}">
      <th>
        Discovered
      </th>
      <td>
        <span>{{ result.discovered }}{% if result.discovered is not empty %}...{% endif %}</span>
      </td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2">
        <a style='cursor:pointer;margin:0.4em;' id='defentionSelector'
          class='buttonLink'>Select & schedule</a>
      </td>
  </tfoot>
</table>

<input id="selectedDetailKey" type="hidden" name="selectedDetailKey" value="" />
