{# SPDX-FileCopyrightText: © 2019 Vivek Kumar <vvksindia@gmail.com>
   Author: Vivek Kumar<vvksindia@gmail.com>

   SPDX-License-Identifier: FSFAP
#}

{% for result in details %}
<div class="detailsClass" id="detailsModal{{ loop.index0 }}" style="display:none">
  <table id="detailsTable" class="simpleTable detailsTable left-align-cells">
    <tbody>
      <tr class="detailsRow detailsId{{ loop.index0 }}">
        <th>
          Declared
        </th>
        <td>
          <span>{{ result.declaredLicense|e }}</span>
        </td>
      </tr>
      <tr class="detailsRow detailsId{{ loop.index0 }}">
        <th>
          Source
        </th>
        <td>
          <span>
            <a href="{{ result.url }}" target="_blank"
              rel="noopener noreferrer">{{ result.url }}</a>
          </span>
        </td>
      </tr>
      <tr class="detailsRow detailsId{{ loop.index0 }}">
        <th>
          Release
        </th>
        <td>
          <span>{{ result.release|e }}</span>
        </td>
      </tr>
      <tr class="detailsRow detailsId{{ loop.index0 }}">
        <th>
          Files
        </th>
        <td>
          <span>{{ result.files }}</span>
        </td>
      </tr>
      <tr class="detailsRow detailsId{{ loop.index0 }}">
        <th>
          Attributions
        </th>
        <td>
          <span>{{ result.attribution|e }}{% if result.attribution is not empty %}...{% endif %}</span>
        </td>
      </tr>
      <tr class="detailsRow detailsId{{ loop.index0 }}">
        <th>
          Discovered
        </th>
        <td>
          <span>{{ result.discoveredLicenses|e }}{% if result.discoveredLicenses is not empty %}...{% endif %}</span>
        </td>
      </tr>
      <tr class="detailsRow detailsId{{ loop.index0 }}">
        <th>
          Score
        </th>
        <td>
          <span>{{ result.score }}</span>
        </td>
      </tr>
    </tbody>
  </table>
{% endfor %}

<input id="selectedDetailKey" type="hidden" name="selectedDetailKey" value="" />
