{# SPDX-FileCopyrightText: © Fossology contributors

   SPDX-License-Identifier: GPL-2.0-only
#}

{% import "include/macros.html.twig" as macro %}

<li>
  <div class="mb-3">
    <label for="decider">{{ 'Automatic Concluded License Decider'|trans }}</label>
    <img src="images/info_16.png" data-bs-toggle="tooltip" title="{{ 'only for relevant files'|trans }}" alt="" class="info-bullet"/>
    {{ ', based on'|trans }}<br/>
    <input type="checkbox" class="browse-upload-checkbox view-license-rc-size" name="deciderRules[]" value="nomosInMonk" />
    {{ ' Scanners matches if all Nomos findings are within the Monk findings'|trans }}<br />
    <input type="checkbox" class="browse-upload-checkbox view-license-rc-size" name="deciderRules[]" value="ojoNoContradiction" />
    {{ ' Scanners matches if Ojo or REUSE.Software findings are no contradiction with other findings'|trans }}<br />
    {% if isNinkaInstalled %}
    <input type="checkbox" class="browse-upload-checkbox view-license-rc-size" name="deciderRules[]" value="nomosMonkNinka" id="nomosMonkNinka" />
    <label for="nomosMonkNinka">{{ ' Scanners matches if Nomos, Monk and Ninka find the same license'|trans }}</label>
    <br />
    {% endif %}
    <input type="checkbox" class="browse-upload-checkbox view-license-rc-size" name="deciderRules[]" value="reuseBulk" id="reuseBulk" />
    <label for="reuseBulk">{{ ' Bulk phrases from reused packages'|trans }}</label>
    <br />
    <input type="checkbox" class="browse-upload-checkbox view-license-rc-size" name="deciderRules[]" value="wipScannerUpdates" id="wipScannerUpdates" />
    <label for="wipScannerUpdates">{{ ' New scanner results, i.e., decisions were marked as work in progress if new scanner finds additional licenses'|trans }}</label>
    <br />
    <input type="checkbox" name="deciderRules[]" value="licenseTypeConc"
           class="browse-upload-checkbox view-license-rc-size"
           id="licenseTypeConc" />
    <label for="licenseTypeConc">
      {{ ' Auto conclude license finding if they are of type '|trans }}
    </label>
    {{ macro.selectsingle("licenseTypeConc", licenseTypes,
      "licenseTypeConcDrop") }}
    <br />
    {% if isSpacyInstalled %}
    <input type="checkbox" class="browse-upload-checkbox view-license-rc-size" name="deciderRules[]" value="copyrightDeactivation" />
    {{ ' False Positive Copyright Deactivation'|trans }}
    <span class="fw-bold text-warning">({{ 'experimental'|trans }})</span>
    <img src="images/info_16.png" data-bs-toggle="tooltip" title="{{ 'Use this feature to deactivate false positive copyrights. Warning: Using this may cause data loss.'|trans }}" alt="" class="info-bullet"/></br>
    <input type="checkbox" class="browse-upload-checkbox view-license-rc-size" name="deciderRules[]" value="copyrightDeactivationClutterRemoval" />
    {{ ' False Positive Copyright Deactivation and clutter removal'|trans }}
    <span class="fw-bold text-warning">({{ 'experimental'|trans }})</span>
    <img src="images/info_16.png" data-bs-toggle="tooltip" title="{{ 'Use this feature to deactivate false positive copyrights and clean up extra content. Warning: Using this may cause data loss.'|trans }}" alt="" class="info-bullet"/>
    {% endif %}
  </div>
</li>
