{# SPDX-FileCopyrightText: © 2014-2015 Siemens AG

   SPDX-License-Identifier: FSFAP
#}
{% if selected is not defined %}
  {% set selected = -1 %}
{% endif %}
<select class="reuseGroupSelectorFolder" disabled name="{{ name }}"{% if id is defined %} id="{{ id }}"{% endif %}>
  {% for entry in folderStructure %}
    {% for entryReuse in entry.reuse %}
      <option value="{{ entry.folder.id }},{{ entryReuse.group_id }}"{% if selected == entry.folder.id %} selected="selected"{% endif %}>
        {% for i in range(1, entry.depth) %}&nbsp; {% endfor %}{{ entry.folder.name | escape('html') }} ({{ entryReuse.group_name | escape('html') }}:{{ entryReuse.count }})
      </option>
    {% endfor %}
  {% endfor %}
</select>
