{% extends "include/base.html.twig" %}

{% block content %}

<p>
<b> {{ "FOSSology version" | trans }} {{ versionInfo.version }} ({{ 'code revision' | trans }} {{ versionInfo.commitHash }})</b>
{{ "with" | trans }} {{ licenseCount }} {{ "known licenses in database" |trans }}
</p>

<p>
{{ copyright }}
</p>

<p>
{{ text | nl2br }}
</p>
{% endblock %}

