{% extends "include/base.html.twig" %}

{% block content %}
  <p>
    {{ 'This option permits uploading a single file (which may be iso, tar, rpm, jar, zip, bz2, msi, cab, etc.) from
        your computer to FOSSology.'| trans }}
    {{ 'Your FOSSology server has imposed a maximum upload file size of'| trans }}
    {{ upload_max_filesize }}bytes.
  </p>
  <form enctype="multipart/form-data" method="post">
    <label for="file_input">
      {{ 'Select the file to upload'| trans }}:
    </label>
    <input name="file_input" type="file"/><br/>
    {{ 'Delimiter'|trans }}: <input type="text" name="delimiter" value="," size="1" maxlength="1" /><br/>
    {{ 'Enclosure'|trans }}: <input type="text" name="enclosure" value="&quot;" size="1" maxlength="1" /><br/>         
    <br/>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="{{ 'Upload'| trans }}"/>
    </p>
  </form>

{% endblock %}

