<p>
    {{ "The project properties that can be changed are the project name and description."|trans }}
    {{ "First select the project to edit. Then enter the new values."|trans }}
    {{ "If no value is entered, then the corresponding field will not be changed."|trans }}
</p>
<form method='post'>
    <ol>
        <li> {{ "Select the project to edit:"|trans }}
            <select name="oldprojectid" onChange="window.location.href='{{ onchangeURI }}' + this.value" class="ui-render-select2">
                {{ projectListOption }} ProjectListOption(-1, 0, 1, $ProjectSelectId);
            </select>
            <P />
        </li>
        <li>
            {{ "Change project name:"|trans }}
            <br/>
            <INPUT type="text" name="newname" size=40 value="{{ project_name|e }}" />
            <P />
        </li>
        <li>
            {{ "Change project description:"|trans }}
            <br/>
            <INPUT type="text" name="newdesc" size="60" value="{{ project_desc|e }}" />
        </li>
    </ol>
    <input type="submit" value="{{ "Edit"|trans }}">
</form>
