{# SPDX-FileCopyrightText: © 2016 Siemens AG

   SPDX-License-Identifier: FSFAP
#}
<form method='POST'>
    <ol>
        <li>
            {{ "Select the parent folder:"|trans }}
            <select name='parentid' class="ui-render-select2">
                {{ folderOptions }}
            </select>
            <P />
        </li>
        <li>
            {{ "Enter the new folder name:"|trans }}
            <br/>
            <INPUT type='text' name='newname' size=40 />
            <P />
        </li>
        <li>
            {{ "Enter a meaningful description:"|trans }}
            <br/>
            <INPUT type='text' name='description' size=80 />
        </li>
    </ol>
    <input type='submit' value='{{ "Create"|trans }}'>
</form>
