<table class="dataTable" border="1" cellpadding="5px" id="bulkHistoryTable" name="bulkHistoryTable">
  <tr>
    <th>{{ 'License'| trans }}</th>
    <th>{{ 'Text'| trans }}</th>
  </tr>
  {% if bulkHistory %}
  {% for row in bulkHistory %}
    <tr class="{{ cycle(['odd','even'], loop.index0) }}{% if row.matched %} match{% endif %}{% if not row.tried %} inactive{% endif %}">
      <td>
          <table>
            <td><div class='{% if row.removing %}deleted{% else %}added{% endif %}'></td>
            <td>{{ row.lic|e }}</td>
          </table>
      </td>
      <td>
      {% if bulkHistoryHighlightUri and row.id > 0 and row.matched %}
      <a href="{{ bulkHistoryHighlightUri }}&item={{ itemId }}&clearingId={{ row.id }}#highlight">{{ row.text|e }}<a>
      {% else %}
      {{ row.text|e }}
      {% endif %}
      </td>
    </tr>
  {% endfor %}
  {% else %}
    <tr class="even">
      <td>&lt;no entries&gt;</td>
      <td>&lt;no entries&gt;</td>
    </tr>
  {% endif%}
</table>