{# SPDX-FileCopyrightText: © 2014-2015 Siemens AG

   SPDX-License-Identifier: FSFAP
#}
<table class="dataTable" border="1" cellpadding="5px" id="bulkHistoryTable" name="bulkHistoryTable">
  <tr>
    <th>{{ 'License'| trans }}</th>
    <th>{{ 'Text'| trans }}</th>
  </tr>
  {% if bulkHistory %}
  {% for row in bulkHistory %}
    <tr class="{{ cycle(['odd','even'], loop.index0) }}{% if row.matched %} match{% endif %}{% if not row.tried %} inactive{% endif %}">
      <td>
          <table>
            {% if row.addedLicenses is not empty %}
            <tr>
              <td><img class='added' src='images/space_16.png'></td>
              <td>{{ row.addedLicenses|join(', ')|e }}</td>
            </tr>
            {% endif %}
            {% if row.removedLicenses is not empty %}
            <tr>
              <td><img class='deleted' src='images/space_16.png'></td>
              <td>{{ row.removedLicenses|join(', ')|e }}</td>
            </tr>
            {% endif %}
          </table>
      </td>
      {% if bulkHistoryHighlightUri and row.id > 0 and row.matched %}
      <td class="hi-bulk">
      <a href="{{ bulkHistoryHighlightUri }}&item={{ itemId }}&clearingId={{ row.id }}#highlight">{{ row.text|e }}<a>
      </td>
      {% else %}
      <td>
      {{ row.text|e }}
      </td>
      {% endif %}
    </tr>
  {% endfor %}
  {% else %}
    <tr class="even">
      <td>&lt;no entries&gt;</td>
      <td>&lt;no entries&gt;</td>
    </tr>
  {% endif%}
</table>
