<div class="modal" id="userModal" hidden>
  <form name="licenseListSelect">
    <table>
      <tr>
        <td>{{ 'Available licenses'| trans }}:<br/>
          <select name="licenseLeft" id=licenseLeft" style="min-width:200px" size="20" multiple="multiple">
            {%  for opt in licenseArray  %}
            <option value= {{ opt.id }} title='{{ opt.fullname | e }}'
                    ondblclick="javascript:window.open('{{ licenseUri }}{{ opt.shortname|url_encode }}',
                              '{{ 'License Text'|trans}}','width=600,height=400,toolbar=no,scrollbars=yes,resizable=yes');" >
              {{ opt.shortname }}
            </option>
            {% endfor %}
          </select>
        </td>
        <td align="center" valign="middle">
          <input type="button" value="&gt;" onclick="moveLicense(this.form.licenseLeft, this.form.licenseRight);" /><br />
          <input type="button" value="&lt;" onclick="moveLicense(this.form.licenseRight, this.form.licenseLeft);" />
        </td>
        <td>
          {{ 'Selected licenses'|trans }}:<br/>
          <select name="licenseRight" id="licenseRight" style="min-width:200px" size="20" multiple="multiple" >
          </select>
        </td>
      </tr>
    </table>

    {{ 'Hint'| trans }}: {{ 'Double-click on license opens a popup with the full text.'| trans }}<br/>
    &nbsp; &nbsp; &nbsp;
    <button type="button" autofocus onclick="performPostRequest()">Add selected licenses</button>
    &nbsp;
    <input name="licenseNumbersToBeSubmitted" id="licenseNumbersToBeSubmitted" type="hidden" value="" />
    <input name="uploadTreeId" id="uploadTreeId" type="hidden" value="{{ uploadTreeId }}" />
  </form>
</div>