<div class="modal" id="userModal" hidden>
  <form name="licenseListSelect">
    <table border="0">
      <tr>
        <td>{{ 'Available licenses'| trans }}:</td>
      </tr>
      <tr>
        <td><p>Available licenses:<br>
                <select name={{ licenseLeftSelect.properties.listElementName }}  id= {{ licenseLeftSelect.properties.listElementName }} style="min-width:200px"  size="20" multiple="multiple" >
                    {%  for opt in licenseLeftSelect.values  %}
                    <option value= {{ opt.id }} title='{{ opt.fullName | e }}'
                            ondblclick="javascript:window.open('{{ licenseLeftSelect.properties.uri }}{{ opt.urlShortname }}','{{ licenseLeftSelect.properties.title}}','{{ licenseLeftSelect.properties.sizeInfo}}');" > {{ opt.shortName }}
                    </option>
                    {% endfor %}
                </select>
            </p>
        </td>
        <td align="center" valign="middle">
            <input type="button" value="&gt;" onclick="moveLicense(this.form.licenseLeft, this.form.licenseRight);" /><br />
            <input type="button" value="&lt;" onclick="moveLicense(this.form.licenseRight, this.form.licenseLeft);" />
        </td>
        <td>
          <p>Selected licenses:<br>
              <select name="licenseRight" id="licenseRight" style="min-width:200px"  size="20" multiple="multiple" >
              </select>
          </p>
        </td>
      </tr>
    </table>

    {{ 'Hint'| trans }}: {{ 'Double-click on license opens a popup with the full text.'| trans }}<br/>
    &nbsp; &nbsp; &nbsp;
    <button type="button" autofocus onclick="performPostRequest()">Add selected licenses</button>
    &nbsp;
    <input name="licenseNumbersToBeSubmitted" id="licenseNumbersToBeSubmitted" type="hidden" value="" />
    <input name="uploadTreeId" id="uploadTreeId" type="hidden" value="{{ uploadTreeId }}" />
  </form>



</div>