<div class="modal" id="userModal" hidden>
 <form name="licenseListSelect">
  <table border="0">
  <tr>
   <td>{{ 'Available licenses'| trans }}:</td>
  </tr>
  <tr>
    <td>{{ licenseLeftSelect }}</td>
  </tr>
  </table>

  {{ 'Hint'| trans }}: {{ 'Double-click on license opens a popup with the full text.'| trans }}<br/>
     &nbsp; &nbsp; &nbsp;
     <button type="button" autofocus onclick="performPostRequest()">Add selected licenses</button>
     &nbsp;
  <input name="licenseNumbersToBeSubmitted" id="licenseNumbersToBeSubmitted" type="hidden" value="" />
  <input name="uploadTreeId" id="uploadTreeId" type="hidden" value="{{ uploadTreeId }}" />
 </form>
</div>