{# Copyright 2014-2017,2019 Siemens AG

   Copying and distribution of this file, with or without modification,
   are permitted in any medium without royalty provided the copyright notice and this notice are preserved.
   This file is offered as-is, without any warranty.
#}
<div class="modal" id="userModal" hidden>
  <form name="licenseListSelect">
    <table>
      <tr>
        <td>{{ 'Available licenses'| trans }}:<br/>
          <select name="licenseLeft" id="licenseLeft" style="min-width:200px" size="20" multiple="multiple">
            {%  for opt in licenseArray  %}
            <option value= {{ opt.id }} title='{{ opt.fullname | e }}'
                    ondblclick="javascript:window.open('{{ licenseUri }}{{ opt.id }}',
                              '{{ 'License Text'|trans}}','width=600,height=400,toolbar=no,scrollbars=yes,resizable=yes');" >
              {{ opt.shortname }}
            </option>
            {% endfor %}
          </select>
        </td>
        <td align="center" valign="middle">
          <input type="button" value="&gt;" onclick="moveLicense(this.form.licenseLeft, this.form.licenseRight);" /><br />
          <input type="button" value="&lt;" onclick="moveLicense(this.form.licenseRight, this.form.licenseLeft);" />
        </td>
        <td>
          {{ 'Selected licenses'|trans }}:<br/>
          <select name="licenseRight" id="licenseRight" style="min-width:200px" size="20" multiple="multiple">
          </select>
        </td>
      </tr>
    </table>
    {{ 'Hint'| trans }}: {{ 'Double-click on license opens a popup with the full text.'| trans }}
    <table cellpadding="5">
      <tr>
        <td><input type="radio" name="clearingTypesTree" id="noLicenseKnown" value="noLicenseKnown" /></td>
        <td style="text-align:left">No license known</td>
        <td>&nbsp;</td>
        <td><input type="radio" name="clearingTypesTree" id="nonFunctional" value="nonFunctional" /></td>
        <td style="text-align:left">Non functional</td>
        <td rowspan="3" style="max-width:200px;">{{ 'Note'| trans }}: {{ 'If user selects both licenses and decisions then, Only licenses will get added.'| trans }}</td>
      </tr>
      <tr>
        <td><input type="radio" name="clearingTypesTree" id="toBeDiscussed" value="toBeDiscussed" /></td>
        <td style="text-align:left">To be discussed</td>
        <td>&nbsp;</td>
        <td><input type="radio" name="clearingTypesTree" id="irrelevant" value="irrelevant" /></td>
        <td style="text-align:left">Irrelevant</td>
      </tr>
      <tr>
        <td><input type="radio" name="clearingTypesTree" id="doNotUse" value="doNotUse" /></td>
        <td style="text-align:left">Do not use</td>
        <td>&nbsp;</td>
        <td><input type="radio" name="clearingTypesTree" id="identified" value="identified" /></td>
        <td style="text-align:left">Identified</td>
      </tr>
      <tr>
        <td colspan="5"><hr></td>
      </tr>
    </table>
    <div style="text-align: left;">
      <button type="button" autofocus onclick="performPostRequestTree(false);">{{ 'Add licenses/decisions'|trans }}</button>
      &nbsp;
      <button type="button" autofocus onclick="performPostRequestTree(true);">{{ 'Remove licenses/decisions'|trans }}</button>
      &nbsp;
      <button type="button" autofocus onclick="closeUserModal(true);">{{ 'Close'|trans }}</button>
    </div>
    <input name="licenseNumbersToBeSubmitted" id="licenseNumbersToBeSubmitted" type="hidden" value="" />
    <input name="uploadTreeId" id="uploadTreeId" type="hidden" value="{{ uploadTreeId }}" />
  </form>
</div>
