{% extends "include/base.html" %}

{% block content %}
<b>
    {{ 'FOSSology'|t }}
</b>
{{ 'is a framework for software analysis tools.'|t }}
{{ 'With it, you can:'|t }}
<ul>
    <li>
        {{ 'Upload files into the fossology repository.'|t }}
    </li>
    <li>
        {{ 'Unpack files (zip, tar, bz2, iso\'s, and many others) into its component files.'|t }}
    </li>
    <li>
        {{ 'Browse upload file trees.'|t }}
    </li>
    <li>
        {{ 'View file contents and meta data.'|t }}
    </li>
    <li>
        {{ 'Scan for software licenses.'|t }}
    </li>
    <li>
        {{ 'Scan for copyrights and other author information.'|t }}
    </li>
    <li>
        {{ 'View side-by-side license and bucket differences between file trees.'|t }}
    </li>
    <li>
        {{ 'Tag and attach notes to files.'|t }}
    </li>
    <li>
        {{ 'Report files based on your own custom classification scheme.'|t }}
    </li>
</ul>
<p></p>
<b>
    {{ 'Where to Begin...'|t }}
</b><br/>
{{ 'The menu at the top contains all the primary capabilities of FOSSology.'|t }}
<ul>
    <li>
        <b>
            {% if baseUrl %} <a href="{{ baseUrl }}?mod=auth">{{ 'Login'|t }}</a>{% else %}
            {{ 'Login'|t }}{% endif %}</b>:
        {{ 'Depending on your account\'s access rights, you may be able to upload files, schedule analysis tasks, or
            even add new users.
        '|t }}
    </li>
</ul>
{% endblock %}

{% block footer %}
{ parent() }
<script src="scripts/jquery.plainmodal.min.js" type="text/javascript"></script>
<script src="scripts/job-queue-poll.js" type="text/javascript"></script>
<script src="scripts/change-license-common.js" type="text/javascript"></script>
<script src="scripts/change-license-view.js" type="text/javascript"></script>
<script src="scripts/tools.js" type="text/javascript"></script>
{% endblock %}