{# SPDX-FileCopyrightText: © 2014-2015 Siemens AG

   SPDX-License-Identifier: FSFAP
#}
{% extends "include/base.html.twig" %}

{% block content %}
  <table border="0" style="padding:2px; width:100%">
    <tr>
      <td style="padding-left:18px; vertical-align:top; height:100%; width:75%">
        <table border="0" id="dirlist" class="semibordered">
          <thead>
            {% if scannerLicenses is not empty %}
            <tr>
              <th></th>
              <th>
                <select id="scanFilter" class="ui-render-select2">
                  <option value="0">-- {{'filter for scan results'|trans}} --</option>
                  {% for shortname,row in scannerLicenses %}
                    <option value="{{row.rf_pk}}">{{ shortname }}</option>
                  {% endfor %}
                </select>
              </th>
              <th></th>
            </tr>
            {% endif %}
            <tr><th></th><th></th><th></th></tr>
          </thead>
          <tbody></tbody>
          <tfoot></tfoot>
        </table>
  
        {{ parent() }}
      </td>
    </tr>
  </table>
{% endblock %}

{% block foot %}
  {{ parent() }}
  <script src="scripts/jquery.dataTables.min.js" type="text/javascript"></script>
  <script src="scripts/jquery.dataTables.select.js" type="text/javascript"></script>
  <script src="scripts/job-queue-poll.js" type="text/javascript"></script>
  <script src="scripts/change-license-common.js" type="text/javascript"></script>
  <script src="scripts/change-license-browse.js" type="text/javascript"></script>
  <script src="scripts/license.js" type="text/javascript"></script>
  <script src="scripts/tools.js" type="text/javascript"></script>
  <script type="text/javascript">
    {% include 'file-browse.js.twig' %}
  </script>
{% endblock %}
