{% extends "include/base.html.twig" %}

{% block content %}

  <table width='100%' border='0'>
    <tr>
      <td valign='top'>
        <h3 style="color:#CC0000; font-family:Verdana, Arial, Helvetica, sans-serif;">
          {{ 'The FOSSology Toolset'| trans }}
          </h3>
        <blockquote>
          <p><font face="Arial, Helvetica, sans-serif">
            {{ 'FOSSology is a framework for software analysis tools. The current FOSSology tools can:'| trans }}
            <br>
            <br>
            <img src="{{ SiteURI }}images/right-point-bullet.gif">
            {{ 'Find license references in software'| trans }}
            <br>
            <img src="{{ SiteURI }}images/right-point-bullet.gif">
            {{ 'Browse uploaded file hierarchies'| trans }}
            <br>
            <img src="{{ SiteURI }}images/right-point-bullet.gif">
            {{ "Find copyrights, url's and email addresses"| trans }}
            <br>
            <img src="{{ SiteURI }}images/right-point-bullet.gif">
            {{ 'Classify licenses into user definable categories (aka buckets)'| trans }}
            <br>
            <img src="{{ SiteURI }}images/right-point-bullet.gif">
            {{ 'Browse package (rpm, apt) metadata'| trans }}
            <br>
            </font>
          <p>
        </blockquote>
      </td>
      <td><img src="{{ SiteURI }}images/white.png"></td>
    </tr>
  </table>

  <table width="100%" border="0">
    <tr>
      <td><img src="{{ SiteURI }}images/logo2.png" align="right"></td>
      <td valign="top">
        <h3 style="color:#CC0000;font-family:Verdana, Arial, Helvetica, sans-serif;">
        {{ "FOSSology's Graphical User Interface"| trans }}
        </h3>
        <blockquote>
          <p style='font-family:Arial, Helvetica, sans-serif'>
            {{ 'This website is an interface into the FOSSology project. With it, you can:'| trans }}
            <br>
            <br>
            <img src="{{ SiteURI }}images/right-point-bullet.gif">
            {{ 'Upload files to analyze.'| trans }}
            <br>
            <img src="{{ SiteURI }}images/right-point-bullet.gif">
            {{ 'Unpack and store the data within the files for analysis.'| trans }}
            <br>
            <img src="{{ SiteURI }}images/right-point-bullet.gif">
            {{ 'Invoke specialized agents to scan and analyze the files.'| trans }}
            <br>
            <img src="{{ SiteURI }}images/right-point-bullet.gif">
            {{ 'Store and display the analyzed results.'| trans }}
            <br>
          </p>
        </blockquote>
      </td>
    </tr>
  </table>

  <table width="100%" border="0">
    <tr>
      <td valign="top">
        <h3 style="color:#CC0000;font-family:Verdana, Arial, Helvetica, sans-serif;">
          {{ 'How to Begin'| trans }}
        </h3>
        <blockquote>
          <p style="font-family: Arial, Helvetica, sans-serif;">
            {{ 'The menu at the top contains all the primary capabilities of FOSSology. Most functions require
                        you to log in before they can be accessed. The following functions are available without logging
                        in:
                    '| trans }}
            <br>
            <br>
            <strong><em>{{ login }}:</em></strong>
            {{ "If you log in, you can access additional capabilities. Depending on your account's access
                        rights,"| trans }}
            <br>
            {{ 'you may be able to upload files, schedule analysis tasks, or even add new users.'| trans }}
            </p>
        </blockquote>
      </td>
    </tr>
  </table>

  <table width="100%" border="0">
    <tr>
      <td valign="top">
        <h3 style="color:#CC0000; font-family: Verdana, Arial, Helvetica, sans-serif;">
          {{ 'Inside FOSSology'| trans }}
        </h3>
        <blockquote>
          <p style="font-family: Arial, Helvetica, sans-serif;">
            {{ 'Some parts of FOSSology helpful to know about are:'| trans }}
            <br>
            <br>
            <em><strong>
                {{ 'Software Repository'| trans }}
              </strong></em>
              {{ '- Stores files uploaded for analysis.'| trans }}
            <br>
            <em><strong>
                {{ 'Database'| trans }}
              </strong></em>
              {{ '- Stores user accounts, file information, and analysis results.'| trans }}
            <br>
            <em><strong>
                {{ 'Agents'| trans }}
              </strong></em>
              {{ '- Perform analysis of files and data found in the Software Repository and Database.'| trans }}
            <br>
            <em><strong>
                {{ 'Scheduler'| trans }}
              </strong></em>
              {{ '- Runs the agents, making efficient use of available resources.'| trans }}
            <br>
            <em><strong>
                {{ 'Web GUI'| trans }}
              </strong></em> &shy;
              {{ '- Provides user access to FOSSology.'| trans }}
            <br>
            <em><strong>
                {{ 'Command line utilities'| trans }}
              </strong></em> &shy;
              {{ '- Provides scripting access to FOSSology.'| trans }}
            <br>
          </p>
        </blockquote>
      </td>
      <td><img src="{{ SiteURI }}images/fossology-flow4.png"></td>
    </tr>
  </table>

  <table width="100%" border="0">
    <tr>
      <td valign="top">
        <h3 style="color:#CC0000;font-family:Verdana, Arial, Helvetica, sans-serif;"><img
            src="{{ SiteURI }}images/white.png" align="left">
          {{ 'Need Some Help?'| trans }}
        </h3>
        <blockquote>
          <p style="font-family:Arial, Helvetica, sans-serif;">
            {{ "Now that you've been introduced to Fossology, try exploring it!"| trans }}
            <br>
            {{ 'The following resources will provide additional help and information:'| trans }}
          </p>
          <font face="Arial, Helvetica, sans-serif"><em><strong><a href="http://fossology.org/">
                {{ 'FOSSology web site'| trans }}</a></strong></em>
                {{ '- Where you can find more information and get help on FOSSology.'| trans }}
          <br>
          </font>
        </blockquote>
      </td>
    </tr>
  </table>

{% endblock %}
