{# SPDX-FileCopyrightText: © 2014-2015 Siemens AG

   SPDX-License-Identifier: FSFAP
#}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      {% include "include/head.html.twig" %}
      <title>{% block title %}{{ 'License Info'|trans }}{% endblock %}</title>
      {{ metadata }}
      {{ styles }}
    {% endblock %}
  </head>
  <body>

    {% block content %}
      <div class="text">
        <h1>{{ shortName|e }}</h1>
        {% if fullName %}
          <h2>{{ 'License Fullname'|trans }}</h2>
          {{ fullName|e }}
        {% endif %}
        {% if parentId %}
          <h2>{{ 'Concluded license'|trans }}</h2>
          <a href="?mod=popup-license&rf={{ parentId }}">{{ parentShortName|e }}</a>
        {% endif %}
        {% if url %}
          <h2>{{ 'Reference URL'|trans }}:</h2>
          <a href="{{ url }}" target="_blank">{{ url|e }}</a>
        {% endif %}
        {% if risk is defined %}
          <h2>{{ 'Risk level'|trans }}:</h2>
            <div class="riskLevelBox riskLevelBackgroud{{ risk }}"> {{ risk }} </div>
        {% endif %}
        {% if text %}
          <h2>{{ 'License Text'|trans }}</h2>
          {{ text|e|nl2br }}
        {% else %}
          {{ 'Original license text is not in the FOSSology database.'| trans }}
        {% endif %}
      </div>
    {% endblock %}

    {% block foot %}
      {% include "include/foot.html.twig" %}
    {% endblock %}
  </body>
</html>