{% extends "ui-clearing-view.twig" %}


{% block rhs %}

<form method="post">
  <input name="lastItem" type="hidden" value="{{ itemId }}"/>
  <input name="upload" type="hidden" value="{{ uploadId }}"/>

  <div class="groupBox">
      {% if previousItem %}
      <button type="submit" name="update" onclick="form.action = '{{ uri }}&upload={{ uploadId }}&item={{ previousItem }}';">&lt;</button>
      {% endif %}
      <button type="submit" name="update" onclick="form.action = '{{ uri }}&upload={{ uploadId }}&item={{ itemId }}';">{{ 'Update'| trans }}</button>
      {% if nextItem %}
      <button type="submit" name="update" onclick="form.action = '{{ uri }}&upload={{ uploadId }}&item={{ nextItem }}';">&gt;</button>
      {% endif %}
  </div>

  <div class="groupBox">
    <fieldset style="display:inline">
        <legend>
            {{ 'Issue Type'| trans }}
        </legend>
        <input type="radio" name="iType" value="0"/> {{ 'Not decided'| trans }} <br/>
        <input type="radio" name="iType" value="1"/> {{ 'Not relevant'| trans }} <br/>
        <input type="radio" name="iType" value="2"/> {{ 'To be decided'| trans }} <br/>
        <input type="radio" name="iType" value="3"/> {{ 'Identified issue'| trans }} <br/>
    </fieldset>
    <br/>
   {{ 'Description'| trans }}: <br/>
   <textarea rows="2" style="width:90%" onfocus="rmDefaultText(this,'what')">what</textarea><br/>
   {{ 'Text finding'| trans }}: <br/>
   <textarea rows="2" style="width:90%" onfocus="rmDefaultText(this,'in text')">in text</textarea><br/>
   {{ 'Comment'| trans }}: <br/>
   <textarea rows="2" style="width:90%" onfocus="rmDefaultText(this,'comment')">comment</textarea><br/>

  </div>
</form>

{% endblock %}
