{% import "include/macro.html.twig" as macro %}


<form method="post">
    <input name="lastItem" type="hidden" value="{{ itemId }}"/>

    <div class="groupBox">
        {% if previousItem %}
        <button type="submit" name="update" onclick="form.action = '{{ uri }}&item={{ previousItem }}';">&lt;</button>
        {% endif %}
        <button type="submit" name="update" onclick="form.action = '{{ uri }}&item={{ itemId }}';">Update</button>
        {% if nextItem %}
        <button type="submit" name="update" onclick="form.action = '{{ uri }}&item={{ nextItem }}';">&gt;</button>
        {% endif %}
    </div>

    <div class="groupBox">
        <fieldset style="display:inline">
            <legend>
                {{ 'License decision scope'|t }}
            </legend>
            <input type="checkbox" name="globalDecision"/> global
        </fieldset>
        <br/>
        <fieldset style="display: inline;">
            <legend>
                {{ 'Clearing decision type'|t }}
            </legend>
            {% for clearingType in clearingTypes %}
            <input type="radio" {% if clearingType == selectedClearingType %}checked=""{% endif %} name="clearingTypes"
            value="{{ loop.index }}">
            {{ clearingType }}
            </input>
            <br/>
            {% endfor %}
        </fieldset>
    </div>
</form>

<div class="groupBox">
    {{ macro.table("licenseDecisionsTable", licenseDecisionsHeaders) }}
</div>

<div class="groupBox">

    {% if auditDenied %}
    {{ 'Sorry, you do not have write (or above) permission on this upload, thus you cannot change the license of this
    file.
    '|t }}
    {% else %}
    <button type=\"button\" onclick='openUserModal()'>
        {{ 'User Decision ...'|t }}
    </button>
    &nbsp;
    <button type=\"button\" onclick='openBulkModal()'>
        {{ 'Bulk Recognition ...'|t }}
    </button>
    &nbsp;
    <span id="bulkIdResult" name="bulkIdResult" hidden></span>

    <br/>

    <div style="padding-top: 10px;">

        <div class="modal" id="userModal" hidden>
            <div style="padding-bottom: 10px">
                {{ macro.table("licenseSelectionTable") }}
            </div>
        </div>
        {% include 'ui-clearing-view_bulk.html' %}
    </div>
    {% endif %}

</div>

{% if clearingHistory %}
<div class="groupBox">

    <h3>
        {{ 'Clearing History'|t }}
    </h3>

    <div class="scrollable2">
        <table border="1" cellpadding="5px" id="clearingHistoryTable" name="clearingHistoryTable">
            <tr>
                <th>
                    {{ 'Date'|t }}
                </th>
                <th>
                    {{ 'Username'|t }}
                </th>
                <th>
                    {{ 'Scope'|t }}
                </th>
                <th>
                    {{ 'Type'|t }}
                </th>
                <th>
                    {{ 'Licenses'|t }}
                </th>
            </tr>
            {% for row in clearingHistory %}
            <tr>
            {% for col in row.content %}
            <td>{{ col }}</td>
            {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endif %}
