<div class="modal" id="bulkModal" hidden>
  <form name="bulkForm">
    <h2>{{ 'Bulk recognition'| trans }}</h2>
    {{ 'Hint'|trans }}: {{ 'New license candidates can be added via'|trans }}
    <a href="?mod=advice_license">{{ 'menu Organize&raquo;Licenses'|trans }}</a><br/>
    <select id="bulkAction">
      <option value="add">{{ 'Add license'| trans }}</option>
      <option value="remove">{{ 'Remove license'| trans }}</option>
    </select>

    <span id="bulkExistingLicense">
      <select id="bulkLicense" style="min-width:200px" >
        {% for license in licenseArray %}
          <option value="{{ license.id }}" title="{{ license.fullname|e }}">{{ license.shortname|e }}</option>
        {% endfor %}
      </select>
      <button type="button" onclick="popUpLicenseText('{{ bulkUri }}&rf=', '{{ 'License Text'| trans }}');">{{ 'Show origin'| trans }}</button>
    </span>
    <br/>
    {{ 'Reference text'| trans }}:<br/>
    <textarea name="bulkRefText" id="bulkRefText" type="text" cols="80" rows="12"></textarea><br>
    <select name="bulkScope" id="bulkScope">
      <option value="f">{{ 'scan only current Folder'| trans }}</option>
      <option value="u">{{ 'scan whole Upload'| trans }}</option>
    </select>
    <input type="checkbox" id="forceDecision"/>{{ 'ignoreConflicts'|trans }}
    <br><button type="button" onclick='scheduleBulkScan();'>Schedule Bulk scan</button>
    <input name="uploadTreeId" id="uploadTreeId" type="hidden" value="{{ itemId }}" />
  </form>
</div>
