
<form method="post" id="CopyRightForm">
    <input name="lastItem" id="lastItem" type="hidden" value="{{ itemId }}"/>
    <input name="upload" id="upload" type="hidden" value="{{ uploadId }}"/>
    <table>
        <tr>
            <td>
                <div class="groupBox">
                    <button type="submit" name="update"  id="prev" hidden >&lt;</button>
                    <button type="submit" name="update" onclick="form.action = '{{ uri }}&item={{ itemId }}';">Submit</button>
                    <button type="submit" name="update" id="next" hidden  >&gt;</button>
                </div>
            </td>
            <td>
                <p>
                    <input type="radio" name="FileSelection" id="FileSelection" value="none"> {% trans "Go through all files" %}<br>
                    <input type="radio" name="FileSelection" id="FileSelection" value="noCopyright"> {% trans "Go through all files with COPYRIGHT/EMAIL/URL" %}<br>
                </p>
            </td>
        </tr>
    </table>
    <div class="groupBox">
        <fieldset style="display:inline">
            <legend>
                {{ 'Issue Type'| trans }}
            </legend>
            <input type="radio" name="iType" value="0"/> {{ 'Not decided'| trans }} <br/>
            <input type="radio" name="iType" value="1"/> {{ 'Not relevant'| trans }} <br/>
            <input type="radio" name="iType" value="2"/> {{ 'To be decided'| trans }} <br/>
            <input type="radio" name="iType" value="3"/> {{ 'Identified issue'| trans }} <br/>
        </fieldset>
        <br/>
        {{ 'Description'| trans }}: <br/>
        <textarea rows="2" style="width:90%" onfocus="rmDefaultText(this,'what')">what</textarea><br/>
        {{ 'Text finding'| trans }}: <br/>
        <textarea rows="2" style="width:90%" onfocus="rmDefaultText(this,'in text')">in text</textarea><br/>
        {{ 'Comment'| trans }}: <br/>
        <textarea rows="2" style="width:90%" onfocus="rmDefaultText(this,'comment')">comment</textarea><br/>

    </div>
</form>