{% extends "include/base.html.twig" %}

{% block content %}
<div id="leftrightalignment" name="leftrightalignment">
    <table border="0" style="padding:0px; height:100%; width:100%">
        <tr>
            <td style="padding:0px; position:relative; height: 100%; width:50%">
                <div class="centered">
                    {{ pageMenu }}
                    <button class="legendHider">
                        {{ 'Hide Legend'| trans }}
                    </button>
                    <button class="legendShower">
                        {{ 'Show Legend'| trans }}
                    </button>
                </div>
                <div class="boxnew">{{ textView }}</div>
                <div id="legendBox" name="legendBox" style="background-color:white; padding:2px; border:1px outset #222222; width:150px; position:absolute; right:17px; bottom:17px; ">
                  <b>{{ 'Legend'| trans }}</b><br/>
                  {{ legendBox }}
                </div>
            </td>
            <td class="headerBox">
              {% block rhs %}
                {% include 'ui-clearing-view_rhs.html.twig' %}
              {% endblock %}
            </td>
        </tr>
    </table>
</div>
{% endblock %}


{% block foot %}
{{ parent() }}

<script src="scripts/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="scripts/jquery.dataTables.editable.js" type="text/javascript"></script>
<script src="scripts/jquery.jeditable.js" type="text/javascript"></script>
<script src="scripts/jquery.validate.js" type="text/javascript"></script>
<script src="scripts/jquery.plainmodal.min.js" type="text/javascript"></script>
<script src="scripts/job-queue-poll.js" type="text/javascript"></script>
<script src="scripts/change-license-common.js" type="text/javascript"></script>
<script src="scripts/change-license-view.js" type="text/javascript"></script>
<script src="scripts/tools.js" type="text/javascript"></script>

{% include "ui-clearing-view_scripts.html.twig" %}

{{ script }}
{% endblock %}