{# SPDX-FileCopyrightText: © 2014-2015 Siemens AG

   SPDX-License-Identifier: FSFAP
#}

{% extends "include/base.html.twig" %}

{% block head %}
  {% include "include/head.html.twig" %}
  <title>{% block title %}{{ title|e }}{% endblock %}</title>
  {{ metadata }}
  {{ styles }}
  <link rel="stylesheet" href="css/showjobs.css">
{% endblock %}

{% block content %}
  {{ errorInfo }}
  {{ allusersdiv }}
  <input name="time" id="time" type="hidden" value="{{ clockTime }}"/>
  <input name="upload" id="upload" type="hidden" value="{{ uploadId }}"/>
  <input name="allusersvalue" id="allusersvalue" type="hidden" value="{{ allusersval }}"/>
  <input name="pageid" id="pageid" type="hidden" value="{{ page }}"/>
  <table class="text" border="1" width="100%" id="showjobstable">
  <tbody>
  </tbody>
  </table>
  <br>
  <div id="paginationdown"></div>
{% endblock %}

{% block foot %}
  {{ parent() }}
<script type="text/javascript"> {% include "ui-showjobs.js.twig" %} </script>
  {{ injectedFoot }}
{% endblock %}
