{# Copyright 2015 Siemens AG

   Copying and distribution of this file, with or without modification,
   are permitted in any medium without royalty provided the copyright notice and this notice are preserved.
   This file is offered as-is, without any warranty.
#}

<tr class="{{ class }}">
  <td>
    <a href="{{ uriFull }}&job={{ jqId }}">{{ jqId }}</a>
    {% if depends is not empty %}
      {% for depend_jq_pk in depends %}{#
      #}{% if loop.index0==0 %} / {% else %}, {% endif %}
        <a href="{{ uriFull }}&job={{ depend_jq_pk }}">{{ depend_jq_pk }}</a>{#
      #}{% endfor %}
    {% endif %}
  </td>
  <td style="text-align:center;">{{ status }}</td>
  <td>{{ agentName|default('?') }}</td>
  <td style="text-align:right;">
    {% if itemsProcessed==1 %}
      1 item
    {% elseif itemsProcessed>0 %}
      {{ itemsProcessed|number_format }} items
    {% endif %}
  </td>
  <td>{{ startTime }}{% if endTime %} - {{ endTime }}{% endif %}</td>
  <td style="text-align:right;">
    {% if itemsPerSec is not null %}
      {% if itemsPerSec < 2 %}{{ itemsPerSec|number_format(2) }}{% else %}{{ itemsPerSec|round}}{% endif %}
      {{ " items/sec"|trans }}
    {% endif %}
  </td>
  <td style="text-align:center;">
    {% if endTime %}
      {{ 'Scanned'|trans }}
    {% else %}
      {{ eta }}
    {% endif %}
  </td>
  <td class="jobAction">
    {% if canDoActions and isInProgress %}
      {% if endText == "Paused" %}
        [<a href="{{ uriFull }}&action=restart&jobid={{ jqId }}{% if page != 0 %}&page={{ page }}{% endif %}{% if allusers != 0 %}&allusers={{ allusers }}{% endif %}" title="{{ 'Un-Pause this job'|trans }}">{{ 'Unpause'|trans }}</a>]
      {% else %}
        [<a href="{{ uriFull }}&action=pause&jobid={{ jqId }}{% if page != 0 %}&page={{ page }}{% endif %}{% if allusers != 0 %}&allusers={{ allusers }}{% endif %}" title="{{ 'Pause this job'|trans }}">{{ 'Pause'|trans }}</a>]
      {% endif %}
      [<a href="{{ uriFull }}&action=cancel&jobid={{ jqId }}{% if page != 0 %}&page={{ page }}{% endif %}{% if allusers != 0 %}&allusers={{ allusers }}{% endif %}" title="{{ 'Cancel this job'|trans }}">{{ 'Cancel'|trans }}</a>]
    {% elseif download and isReady %}
      [<a href="?mod=download&report={{ jobId }}">Download {{ download }}</a>]
    {% endif %}
  </td>
</tr>
