{# Copyright 2014-2015 Siemens AG

   Copying and distribution of this file, with or without modification,
   are permitted in any medium without royalty provided the copyright notice and this notice are preserved.
   This file is offered as-is, without any warranty.
#}
{% extends "include/upload.html.twig" %}

{% block description %}
  <p>
    {{ 'This option permits uploading a single file (which may be iso, tar, rpm, jar, zip, bz2, msi, cab, etc.) from
        your computer to FOSSology.'| trans }}
    {{ 'Your FOSSology server has imposed a maximum upload file size of'| trans }}
    {{ upload_max_filesize }}bytes.
  </p>
{% endblock %}

{% block fileselect %}
<li>
  <label for="{{ fileInputName }}">
    {{ 'Select the file to upload'| trans }}:
  </label>
  <br/>
  <input name="{{ fileInputName }}" type="file"/><br/>
</li>
{% endblock %}

{% block uploadText %}
  {{ 'After you press Upload, please be patient while your file is transferring.'| trans }}
{% endblock %}
