{% extends "include/base.html.twig" %}

{% block content %}
<p>
    <b>
        {{ 'Starting in FOSSology v 2.2 only your group and any other group you assign will have access to your
            uploaded files.
        '|t }}
    </b>
    {{ 'To manage your own group go into'|t }}
    <b>Admin &gt; Groups &gt; Manage Group Users</b>.
    {{ 'To manage permissions for this one upload, go to'|t }}
    <b>Admin &gt; Upload Permissions</b>.
<p>
    {{ 'This option permits uploading a single file (which may be iso, tar, rpm, jar, zip, bz2, msi, cab, etc.) from
        your computer to FOSSology.
    '|t }}
    {{ 'Your FOSSology server has imposed a maximum upload file size of'|t }}
    {{ upload_max_filesize }}bytes.

<form enctype="multipart/form-data" method="post">
    <ol>
        <li>
            {{ 'Select the folder for storing the uploaded file:'|t }}
            <select name="folder">
              {{ folderListOptions }}
            </select>
        <li>
            {{ 'Select the file to upload:'|t }}
            <br/>
            <input name="getfile" type="file"/><br/>
        <li>
            {{ '(Optional) Enter a description of this file:'|t }}
            <br/>
            <input type="text" name="description" size="60" value="{{ description }}"/>

            <p/>
        <li><input type="checkbox" name="public" value="public"/>
            {{ '(Optional) Make Public'|t }}
            {% if agentCheckBoxMake %}
        <li>
            {{ 'Select optional analysis'|t }}
            <br/>
            {{ agentCheckBoxMake }}
            {% endif %}
    </ol>
    {{ 'After you press Upload, please be patient while your file is transferring.'|t }}
    <br/>

    <p>&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="{{ 'Upload'|t }}"/>
</form>
{% endblock %}