<table border="0" width="100%">
<tr>
  <td valign="top">
    <a name="statements"></a>{{'Jump to'|trans}}:
    <a href="#emails">{{'Emails'|trans}}</a> | 
    <a href="#urls">{{'URLs'|trans}}</a> | 
    <a href="#authors">{{'Authors or Maintainers'|trans}}</a>
    <br/>
    {{ contCopyright }}
    <br/>

    <a name="emails"></a>{{'Jump to'|trans}}:
    <a href="#statements">{{'Copyright Statements'|trans}}</a> | 
    <a href="#urls">{{'URLs'|trans}}</a> | 
    <a href="#authors">{{'Authors or Maintainers'|trans}}</a>
    <br/>
    {{ contEmail }}
    <br/>
    
    <a name="urls"></a>{{'Jump to'|trans}}:
    <a href="#statements">{{'Copyright Statements'|trans}}</a> | 
    <a href="#emails">{{'Emails'|trans}}</a> | 
    <a href="#authors">{{'Authors or Maintainers'|trans}}</a>
    <br/>
    {{ contUrl }}
    <br/>

    <a name="authors"></a>{{'Jump to'|trans}}:
    <a href="#statements">{{'Copyright Statements'|trans}}</a> | 
    <a href="#emails">{{'Emails'|trans}}</a> | 
    <a href="#urls">{{'URLs'|trans}}</a>
    <br/>
    {{ contAuthor }}
  </td>
  <td valign="top">{{ fileList }}</td>
</tr>
</table>