{# SPDX-FileCopyrightText: © 2014-2017 Siemens AG

   SPDX-License-Identifier: FSFAP
#}
<table border="0" width="100%">
<tr>
  <td valign="top">
    <div id="EmailUrlAuthorTabs" style="padding-bottom:2em">
     <ul>
        <li><a href="#FossEmailUrlAuthorTabs">FOSSology</a></li>
        <li><a href="#ScanEmailUrlAuthorTabs">ScanCode</a></li>
      </ul>
      <div id="FossEmailUrlAuthorTabs" style="padding-bottom:2em">
      <ul>
        <li><a href="#FossEmailTab">Email</a></li>
        <li><a href="#FossUrlTab">URL</a></li>
        <li><a href="#FossAuthorTab">Author</a></li>
      </ul>
      <div id="FossEmailTab">
        {{ contEmail }}
      </div>
      <div id="FossUrlTab">
        {{ contUrl }}
      </div>
      <div id="FossAuthorTab">
        {{ contAuthor }}
      </div>
      </div>
      
      <div id="ScanEmailUrlAuthorTabs" style="padding-bottom:2em">
      <ul>
        <li><a href="#ScanEmailTab">Email</a></li>
        <li><a href="#ScanUrlTab">URL</a></li>
        <li><a href="#ScanAuthorTab">Author</a></li>
      </ul>
      <div id="ScanEmailTab">
        {{ contScanEmail }}
      </div>
      <div id="ScanUrlTab">
        {{ contScanUrl }}
      </div>
      <div id="ScanAuthorTab">
        {{ contScanAuthor }}
      </div>
      </div>
    </div>
  </td>
  <td valign="top">{{ fileList }}</td>
</tr>
</table>
