{# SPDX-FileCopyrightText: © 2014-2017 Siemens AG

   SPDX-License-Identifier: FSFAP
#}


function createTableBase{{ table.type }}(activated) {
  var aoColumns = [
      { "sTitle": "{{ 'Count'| trans }}", "sClass": "right read_only", "sWidth": "5%" },
      { "sTitle": "{{ table.description }}", "sClass": "left"}
    ]
  if (activated)
  {
    var id = '#copyright{{ table.type }}';
    var action = 'getData'
    aoColumns = aoColumns.concat([
      { "sTitle": "", "sClass": "center read_only", "sWidth": "10%", "bSortable": false },
      { "sTitle": "<input type='checkbox' name='selectDelete{{ table.type }}' id='selectDelete{{ table.type }}' style='margin-left:47.5%'>", "sClass": "center read_only", "sWidth": "10%", "bSortable": false }
    ]);
  }
  else
  {
    var id = '#copyright{{ table.type }}deactivated';
    var action = 'getDeactivatedData'
    aoColumns = aoColumns.concat([
      { "sTitle": "", "sClass": "center read_only", "sWidth": "10%", "bSortable": false },
      { "sTitle": "<input type='checkbox' name='selectUndo{{ table.type }}' id='selectUndo{{ table.type }}' style='margin-left:47.5%'>", "sClass": "center read_only", "sWidth": "10%", "bSortable": false }
    ]);
  }

  return $(id).dataTable({
    "bServerSide": true,
    "sAjaxSource": "?mod=ajax-copyright-hist&action=" + action,
    "fnServerData": function (sSource, aoData, fnCallback) {
      aoData.push({ "name":"upload", "value": "{{ table.uploadId }}" });
      aoData.push({ "name":"item", "value": "{{ table.uploadTreeId }}" });
      aoData.push({ "name":"agent", "value": "{{ table.agentId }}" });
      aoData.push({ "name":"type", "value": "{{ table.type }}" });
      aoData.push({ "name":"filter", "value": "{{ table.filter }}" });
      if(activated)
      {
        if($('#inverseSearchActivated{{table.type}}').is(':checked'))
        {
          aoData.push( { "name":"isInverse", "value": "true"} );
        } else {
          aoData.push( { "name":"isInverse", "value": "false" } );
        }
      } else {
        if($('#inverseSearchDeactivated{{table.type}}').is(':checked'))
        {
          aoData.push( { "name":"isInverse", "value": "true"} );
        } else {
          aoData.push( { "name":"isInverse", "value": "false" } );
        }
      }
      
      $.getJSON(sSource, aoData, fnCallback).fail(function() {
        if (confirm("You are not logged in. Go to login page?"))
          window.location.href = "?mod=auth";
      });
    },
    "sPaginationType": "listbox",
    "lengthMenu": [10, 25, 50, 75, 100, 200, 500, 1000],
    "aoColumns": aoColumns,
    "aaSorting": {{ table.sorting }},
    "iDisplayLength": 50,
    "bProcessing": true,
    "bStateSave": true,
    "bRetrieve": true
  });
}

function createTable{{ table.type }}() {
  var enabledTable = createTableBase{{ table.type }}(true).makeEditable({
    "sReadOnlyCellClass": "read_only",
    "sSelectedRowClass": "selectedRow",
    "sUpdateURL": "?mod=ajax-copyright-hist&action=update&type={{ table.type }}",
    "fnOnEditing": function(aInput) {
      var value = aInput[0].value;
      var isValid = (value) && !(/^\s*$/.test(value));
      if (isValid) {
        var $tr = aInput.parents("tr:first");
        var rowData = enabledTable.api().row($tr[0]).data();
        var dtRowId = (rowData && rowData['DT_RowId']) ? rowData['DT_RowId'] : $tr.attr('id');
        var parts = dtRowId.split(",");
        var hash = parts[2];
        if (hash) {
          $("#delete{{ table.type }}" + hash).hide();
          var updateElement = $("#update{{ table.type }}" + hash);
          updateElement.text("updating...");
          updateElement.show();
        }
      }
      return isValid;
    },
    "fnOnEdited": function(status, sOldValue, sNewCellDisplayValue, rowIdx) {
      if (status === "success" && sNewCellDisplayValue) {
        var rowData = enabledTable.api().row(rowIdx).data();
        if (rowData && rowData['DT_RowId']) {
          var parts = rowData['DT_RowId'].split(",");
          var upload = parts[0], item = parts[1], hash = parts[2], type = parts[3];
          startRevert{{ table.type }}(upload, item, hash, sNewCellDisplayValue, type);
        }
      }
    },
    "sSuccessResponse": "success"
  });

  enabledTable.api().on('draw.dt', function() {
    var s = _revertState{{ table.type }};
    if (s && Date.now() < s.expiresAt) {
      applyRevertButton{{ table.type }}(s);
    }
  });

  createTableBase{{ table.type }}(false);

  let lastCheckedRow = null;
  $('#selectDelete{{ table.type }}').change(function () {
    const isChecked = $(this).prop('checked');
    $('.deleteBySelect{{ table.type }}').prop('checked', isChecked);
    lastCheckedRow = null; // Reset on select all
  });

  $(document).on('click', '.deleteBySelect{{ table.type }}', function (event) {
    const $checkboxes = $('table tbody tr .deleteBySelect{{ table.type }}');
    const currentRow = $checkboxes.index(this);
    const isChecked = $(this).prop('checked');
    if (event.shiftKey && lastCheckedRow !== null) {
      const start = Math.min(lastCheckedRow, currentRow);
      const end   = Math.max(lastCheckedRow, currentRow);
      $checkboxes.slice(start, end + 1).prop('checked', isChecked);
    }
    lastCheckedRow = currentRow;
    syncFromSelectAll{{ table.type }}();
  });

  function syncFromSelectAll{{ table.type }}() {
    const $checkboxes = $('table tbody tr .deleteBySelect{{ table.type }}');
    const total   = $checkboxes.length;
    const checked = $checkboxes.filter(':checked').length;
    const $selectAll = $('#selectDelete{{ table.type }}');

    if (checked === 0) {
      $selectAll.prop('checked', false).prop('indeterminate', false);
    } else if (checked === total) {
      $selectAll.prop('checked', true).prop('indeterminate', false);
    } else {
      $selectAll.prop('checked', false).prop('indeterminate', true); // Shows dash –
    }
  }

  $('#deleteSelected{{ table.type }}').click(function () {
    $("input:checkbox[class=deleteBySelect{{ table.type }}]:checked").each(function () {
      currentValue = $(this).val();
      var currUploadData = currentValue.split(',');
      delete{{ table.type }}(currUploadData[0], currUploadData[1], currUploadData[2], currUploadData[3]);
    });
  });

  $('#selectUndo{{ table.type }}').change(function () {
    $('.undoBySelect{{ table.type }}').prop('checked', $(this).prop("checked"));
  });

  $('#undoSelected{{ table.type }}').click(function () {
    $("input:checkbox[class=undoBySelect{{ table.type }}]:checked").each(function () {
      currentValue = $(this).val();
      var currUploadData = currentValue.split(',');
      undo{{ table.type }}(currUploadData[0], currUploadData[1], currUploadData[2], currUploadData[3]);
    });
  });

  $('#replaceSelected{{ table.type }}').click(function () {
    var replaceText = $('#replaceText{{ table.type }}').val().trim();
    var replaceIsValid = (replaceText) && !(/^\s*$/.test(replaceText));
    var ajaxList = new Array();
    if (replaceIsValid) {
      var regex = advanceSearchToRegex($('#advSearchText{{ table.type }}').val().trim());
      $("input:checkbox[class=deleteBySelect{{ table.type }}]:checked").each(function () {
        var currentId = $(this).val();
        var currUploadData = currentId.split(',');
        var currentValue = enabledTable.api().row($(this).parent().parent()[0]).data()[1];
        currentValue = $("<textarea/>").html(currentValue).text();  // Decode HTML &lt; &gt;
        var newValue = replaceText;
        if (!/^\s*$/.test(regex)) {
          newValue = currentValue.replace(new RegExp(regex, "gi"), replaceText);
        }
        ajaxList.push(updateRows{{ table.type }}(currUploadData[0],
          currUploadData[1], currUploadData[2], currUploadData[3], newValue));
      });
      $.when.apply($, ajaxList).done(function(){
        $('#copyright{{ table.type }}').DataTable().ajax.reload(null, false);
      });
    }
  });

  $('#copyright{{ table.type }} tbody').on('click', 'tr td:nth-child(3)', function (event) {
    if ($(event.target).closest('.revert-link').length > 0) {
      return;
    }
    if ($(this).find('img:visible').length > 0) {
      if ($(event.target).is('img')) {
        return;
      }
      var currentValue = $(this).closest('tr').attr('id');
      var currUploadData = currentValue.split(',');
      delete{{ table.type }}(currUploadData[0], currUploadData[1], currUploadData[2], currUploadData[3]);
    } else if ($(this).find('span[id^="update"]:visible').length > 0) {
      if ($(event.target).closest('a').length > 0) {
        return;
      }
      var currentValue = $(this).closest('tr').attr('id');
      var currUploadData = currentValue.split(',');
      undo{{ table.type }}(currUploadData[0], currUploadData[1], currUploadData[2], currUploadData[3]);
    }
  });

  $('#copyright{{ table.type }} tbody').on('click', 'tr td:nth-child(4)', function (event) {
    if ($(event.target).is('input')) {
      return;
    }
    var $checkbox = $(this).find('input[type="checkbox"]');
    $checkbox.prop('checked', !$checkbox.prop('checked')).trigger('change');
  });

  return enabledTable;
}

function createPlaneTableBase{{ table.type }}(activated) {
  var aoColumns = [
      { "sTitle": "{{ 'Count'| trans }}", "sClass": "right read_only", "sWidth": "5%" },
      { "sTitle": "{{ table.description }}", "sClass": "left"},
      { "sTitle": "", "sClass": "center read_only", "sWidth": "10%", "bSortable": false }
    ];
  if (activated)
  {
    var id = '#copyright{{ table.type }}';
    var action = 'getData'
    aoColumns = aoColumns.concat([
      { "sTitle": "<input type='checkbox' name='selectDelete{{ table.type }}' id='selectDelete{{ table.type }}' style='margin-left:11px'>", "sClass": "center read_only", "sWidth": "5%", "bSortable": false }
    ]);
  }
  else
  {
    var id = '#copyright{{ table.type }}deactivated';
    var action = 'getDeactivatedData'
    aoColumns = aoColumns.concat([
      { "sTitle": "<input type='checkbox' name='selectUndo{{ table.type }}' id='selectUndo{{ table.type }}' style='margin-left:11px'>", "sClass": "center read_only", "sWidth": "5%", "bSortable": false }
    ]);
  }

  return $(id).dataTable({
    "bServerSide": true,
    "sAjaxSource": "?mod=ajax-copyright-hist&action=" + action,
    "fnServerData": function (sSource, aoData, fnCallback) {
      aoData.push({ "name":"upload", "value": "{{ table.uploadId }}" });
      aoData.push({ "name":"item", "value": "{{ table.uploadTreeId }}" });
      aoData.push({ "name":"type", "value": "{{ table.type }}" });
      aoData.push({ "name":"filter", "value": "{{ table.filter }}" });
      $.getJSON(sSource, aoData, fnCallback).fail(function() {
        if (confirm("You are not logged in. Go to login page?"))
          window.location.href = "?mod=auth";
      });
    },
    "sPaginationType": "listbox",
    "lengthMenu": [10, 25, 50, 75, 100, 200, 500, 1000],
    "aoColumns": aoColumns,
    "aaSorting": {{ table.sorting }},
    "iDisplayLength": 50,
    "bProcessing": true,
    "bStateSave": true,
    "bRetrieve": true
  });
}

function createPlainTable{{ table.type }}() {
  var enabledTable = createPlaneTableBase{{ table.type }}(true);
  createPlaneTableBase{{ table.type }}(false);

  $('#selectDelete{{ table.type }}').change(function () {
    $('.deleteBySelect{{ table.type }}').prop('checked', $(this).prop("checked"));
  });

  $('#deleteSelected{{ table.type }}').click(function () {
    $("input:checkbox[class=deleteBySelect{{ table.type }}]:checked").each(function () {
      currentValue = $(this).val();
      var currUploadData = currentValue.split(',');
      deleteHashDecision(currUploadData[0], currUploadData[1], currUploadData[2]);
    });
  });

  $('#selectUndo{{ table.type }}').change(function () {
    $('.undoBySelect{{ table.type }}').prop('checked', $(this).prop("checked"));
  });

  $('#undoSelected{{ table.type }}').click(function () {
    $("input:checkbox[class=undoBySelect{{ table.type }}]:checked").each(function () {
      currentValue = $(this).val();
      var currUploadData = currentValue.split(',');
      undoHashDecision(currUploadData[0], currUploadData[1], currUploadData[2]);
    });
  });

  $('#searchReplaceTable{{ table.type }}').remove();
  $('#testVal{{ table.type }}').remove();
  $('#testReplacement{{ table.type }}').remove();
  $('#replaceSelected{{ table.type }}').remove();

  return enabledTable;
}

function updateRows{{ table.type }}(upload, item, hash, kind, replaceText) {
  return $.ajax({
    type: 'POST',
    dataType: 'text',
    url: '?mod=ajax-copyright-hist&action=update&type={{ table.type }}',
    data: { id : upload + ',' + item + ',' + hash + ',' + kind, value : replaceText },
    success: function(data) {
      var updateElement = $("#update{{ table.type }}" + hash);
      $("#delete{{ table.type }}" + hash).hide();
      updateElement.html("updating...");
    },
    error: function(errorResponse) {
      alert(errorResponse.responseText);
    }
  });
}

function delete{{ table.type }}(upload, item, hash, kind) {
  $.ajax({
    type: 'POST',
    dataType: 'text',
    url: '?mod=ajax-copyright-hist&action=delete&type={{ table.type }}',
    data: { id : upload + ',' + item + ',' + hash + ',' + kind },
      success: function(data) {
        $("#delete{{ table.type }}" + hash).hide();
        $("#update{{ table.type }}" + hash).attr("style","display:inline !important;");
        $("tr.row"+hash+" td").attr("style","background-color:#fdff32 !important");
      },
      error: function(errorResponse) {
        alert(errorResponse.responseText);
      }
  });
}

function undo{{ table.type }}(upload, item, hash, kind) {
  $.ajax({
    type: 'POST',
    dataType: 'text',
    url: '?mod=ajax-copyright-hist&action=undo',
    data: { id : upload + ',' + item + ',' + hash + ',' + kind },
      success: function(data) {
        $("#delete{{ table.type }}" + hash).show();
        $("#update{{ table.type }}" + hash).hide();
        $("#deleteBySelect{{ table.type }}" + hash).prop('checked', false);
        $("tr.row"+hash+" td").attr("style","background-color:''");
      },
      error: function(errorResponse) {
        alert(errorResponse.responseText);
      }
  });
}

var _revertState{{ table.type }} = null;

function startRevert{{ table.type }}(upload, item, hash, newContent, type) {
  if (_revertState{{ table.type }}) {
    clearInterval(_revertState{{ table.type }}.timerId);
    _revertState{{ table.type }} = null;
  }
  var state = {
    upload: upload, item: item, hash: hash,
    newContent: newContent, type: type,
    expiresAt: Date.now() + 5000,
    timerId: null
  };
  state.timerId = setInterval(function() {
    var remaining = Math.ceil((state.expiresAt - Date.now()) / 1000);
    var $btn = $('#revert{{ table.type }}' + state.hash);
    if ($btn.length) {
      $btn.find('.revert-countdown').text(Math.max(0, remaining));
    }
    if (remaining <= 0) {
      clearInterval(state.timerId);
      _revertState{{ table.type }} = null;
      var $b = $('#revert{{ table.type }}' + state.hash);
      $("tr.row" + state.hash + " td").removeAttr("style");
      if ($b.length) {
        $b.fadeOut(300, function() {
          $(this).remove();
          $('#copyright{{ table.type }}').DataTable().ajax.reload(null, false);
        });
      } else {
        $('#copyright{{ table.type }}').DataTable().ajax.reload(null, false);
      }
    }
  }, 1000);
  _revertState{{ table.type }} = state;
  applyRevertButton{{ table.type }}(state);
}

function applyRevertButton{{ table.type }}(state) {
  var hash = state.hash;
  var revertId = "revert{{ table.type }}" + hash;
  if ($('#' + revertId).length) {
    return;
  }
  var $deleteBtn = $('#delete{{ table.type }}' + hash);
  if (!$deleteBtn.length) {
    return;
  }
  $deleteBtn.hide();
  $('#update{{ table.type }}' + hash).hide();
  var $td = $deleteBtn.closest('td');
  var remaining = Math.max(1, Math.ceil((state.expiresAt - Date.now()) / 1000));
  var $btn = $('<span id="' + revertId + '">[<strong><a href="#" class="revert-link">Revert to original</a></strong> (<span class="revert-countdown">' + remaining + '</span>s)]</span>');
  $td.prepend($btn);
  $("tr.row" + hash + " td").attr("style", "background-color:#d4edda !important");
  $btn.find('.revert-link').on('click', function(e) {
    e.preventDefault();
    e.stopPropagation();
    if (_revertState{{ table.type }}) {
      clearInterval(_revertState{{ table.type }}.timerId);
      _revertState{{ table.type }} = null;
    }
    $btn.remove();
    $deleteBtn.show();
    $("tr.row" + hash + " td").removeAttr("style");
    revertToOriginal{{ table.type }}(state.upload, state.item, state.hash, state.newContent, state.type);
  });
}

function revertToOriginal{{ table.type }}(upload, item, hash, newContent, type) {
  $.ajax({
    type: 'POST',
    dataType: 'text',
    url: '?mod=ajax-copyright-hist&action=revertToOriginal',
    data: { id: upload + ',' + item + ',' + hash + ',' + type, newContent: newContent },
    success: function(data) {
      $('#copyright{{ table.type }}').DataTable().ajax.reload(null, false);
    },
    error: function(errorResponse) {
      alert(errorResponse.responseText);
    }
  });
}
