{# Copyright 2015-2016 Siemens AG

Copying and distribution of this file, with or without modification,
are permitted in any medium without royalty provided the copyright notice and this notice are preserved.
This file is offered as-is, without any warranty.
#}
{% extends "include/base.html.twig" %}

{% block content %}
  <form enctype="multipart/form-data" name="formy" method="post">
    <ol>
      <li>{{ 'Select the folder that contains the upload'|trans }}:
        {% include 'components/select-folder.html.twig' with {'name': 'oldfolderid', 'id': 'oldfolderid', 'selected': folderId} %}
      </li>
      <li>{{ "Select the upload you wish to edit"|trans }}:
        {% if uploadId is not empty %}<input type="hidden" name="upload_pk" value="{{ uploadId }}" />
          {% import "include/macros.html.twig" as macro %}
          {{ macro.select('uploadselect',uploadList,'uploadselect',uploadId,uploadAction) }}
        {% else %}
          {{ 'No upload available in this folder'|trans }}
        {% endif %}
      </li>
      <li>
        <label>
          {{ 'Select report to upload'|trans }}:
          <input id="importUploadFileChooser" name="report" type="file" />
        </label>
      </li>
      <li>
        <label>
          {{ 'Select report type'|trans }}:
           <select name="reportType" size="1">
             <option>SPDX RDF</option>
           </select>
        </label>
      </li>
      <li>
        {{ 'Select how the information should be imported:'|trans }}
        <ul>
          <li style="color: gray;">
            {{ 'Add the License Info as findings from'|trans }}
            <ul>
              <li>
                <label>
                  <input type="checkbox" name="addLicenseInfoFrom" value="licenseInfoInFile" checked="checked"/>
                  SPDX tag of type licenseInfoInFile
                </label>
              </li>
              <li>
                <label>
                  <input type="checkbox" name="addLicenseInfoFrom" value="licenseConcluded" />
                  SPDX tag of type licenseConcluded
                </label>
              </li>
            </ul>
          </li>
          <li>
            <label>
              <input type="checkbox" name="addConcludedAsDecisions" value="addConcludedAsDecisions" checked="checked"/>
              {{ 'Add concluded licenses as decisions'|trans }}
            </label>
            <ul style="color: gray;">
              <li>
                <label>
                  <input type="checkbox" name="addConcludedAsDecisionsOverwrite" value="addConcludedAsDecisionsOverwrite"/>
                  {{ 'also overwrite existing decissions'|trans }}
                </label>
              </li>
              <li>
                <label>
                  <input type="checkbox" name="addConcludedAsDecisionsTBD" value="addConcludedAsDecisionsTBD" checked="checked"/>
                  {{ 'import as "to be discussed"'|trans }}
                </label>
              </li>
            </ul>
          </li>
          <li style="color: gray;">
            {{ 'Add the Copyright Information by'|trans }}
            <ul>
              <li>
                <input type="radio" id="overwrite" name="addCopyrightBy" value="overwrite"> <label for="overwrite">overwriting</label>
              </li>
              <li>
                <input type="radio" id="add" name="addCopyrightBy" value="add" checked="checked"> <label for="add">adding</label>
              </li>
              <li>
                <input type="radio" id="ignore" name="addCopyrightBy" value="ignore"> <label for="ignore">ignoring</label>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ol>
    <input id="importSubmitButton" type="submit" value="{{ 'Upload and Import'|trans }}" disabled="disabled" />
  </form>
{% endblock %}

{% block foot %}
  {{ parent() }}
  <script type="text/javascript">
   $(document).ready(function() {
     $('#oldfolderid').change(function(){
       window.location.href = "{{ baseUri }}" + $(this).val();
     });
     $('#importUploadFileChooser').change(function(){
       $('#importSubmitButton').prop('disabled', !$(this).val());
     });
   });
  </script>
{% endblock %}
